# compiled output
/**/dist
/**/node_modules
/**/build
/**/secrets
/**/.env

# Tests
/**/coverage

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Turbo
/.turbo
